<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>3.0</string>
	<key>DevelopmentRegion</key>
	<string>en</string>
	<key>Name</key>
	<string>Answers</string>
	<key>ContentIdentifier</key>
	<string>com.apple.playgroundbook.template.Answers</string>
	<key>ContentVersion</key>
	<string>1.2</string>
	<key>ImageReference</key>
	<string>Answers.png</string>
	<key>DeploymentTarget</key>
	<string>ios10.3</string>
	<key>SwiftVersion</key>
	<string>4.0</string>
	<key>Chapters</key>
	<array>
		<string>Answers.playgroundchapter</string>
	</array>
</dict>
</plist>
